header {
    height: 5em;
    line-height: 5em; 
    background-color: #00aeec;
    color: #fff;
    font-weight: bold;    
}

.container {
    width: 100%;
}

.logo-nav{
    padding-left: 4em;
}

.logo-nav img {
    height: 2em;
    cursor: pointer;
}

.login-nav {
    cursor: pointer;
    text-align: right;
}

.login-nav:hover {
    color: #abc3fc;
}

.signup-nav {
    text-align: left;
}

.signup-nav .btn-default {
    color: #00aeec;
    font-weight: bold;
}

.signup-nav .btn-default:hover {
    color: #abc3fc;
}

.nav-tabs {
    background-color: #00aeec;
}

.nav-tabs a {
    color: #fff;
}

.tab-content {
    color: #000;
}